{{label}} - {{desc}}
Copyright (C) {{copyright_year}} {{creator_name}}

{{label}} is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, version 3.

{{label}} is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with {{label}}. If not, see <https://www.gnu.org/licenses/>.